*{
    padding: 0%;
    margin: 0%;
}



.navbar{
	background-color: black;
	padding: 10px 10px;
	width: 93.6%;
    margin: auto;


}



.navbar h1{
	color: white;
	margin-left: 30px;
}
.navbar ul{
	float: right;
    margin-top: -25px;

}

.navbar ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0px 20px;

}

.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin-right: 30px;
	
}

.navbar ul li a:hover{
	text-decoration: underline;
	color: white;
	transition: 0.4s;
    background-color: orangered;
    border-radius: 0px 16px  0px 16px;

}

.bookticket{
    color: white;
    width: 80px;
    height: 2vh;
    border: solid 2px white;
    padding: 6px;
    border-radius: 4px;
    background-color: orangered;
    
}

input{
    text-align: center;
    border-radius: 7px;
    height: 3vh;
}
.slider{
    width: 95%;
    height: 600px;
    
    margin: auto;
    margin-top: 5px;
    
}
img{
    height: 600px;
    width: 100%;
}











.maindiv{
    width: 95%;
    height: 170vh;
    margin: auto;

    margin-top: 5px;
}


#box1{
    width: 30%;
    height: 45vh;
    border: solid 2px rgb(160, 157, 157);
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 8px;

}

#box1:hover{
    border-radius: 15px;
    background-color:  rgb(119, 115, 115) ;

}


#circleimg{
    width: 25%;
    height: 60px;
    border: solid 2px black;
    margin: auto;
    margin-top: 20px;
}

button{
    border: solid 2px black;
    margin-left: 37%;
    margin-top: 35px;
    height: 30px;
    border-radius: 6px;
    background-color: orangered;
    width: 90px;
}

button a{
    text-decoration: none;
}



.aboutus{
    width: 95%;
    height: 400px;
    
    margin: auto;
    

}

.aboutus:hover{
    background-color:  rgb(119, 115, 115) ;
    border-radius: 10px;
}

.aboutservices{

    width: 60%;
    height: 300px;
    border: solid 2px rgb(196, 192, 192);

    border-radius: 8px;

    margin-left: 10px;
    margin-top: 10px;
}


.aboutservices1{
    width: 28%;
    height: 300px;
    border: solid 2px rgb(161, 157, 157);
    float: right;
    margin-top: -300px;
    margin-right: 10px;
    border-radius: 8px;

}



footer{
    width: 95%;
    height: 60vh;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(187, 187, 181);

}

#section{
    width: 30%;
    height: 50vh;
    float: left;
    margin-left: 30px;
    margin-top: 10px;

}
#section:hover{
    background-color:  rgb(119, 115, 115) ;
    border-radius: 10px;

    
}

#icon{
    width: 10%;
    height: 7vh;
    
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}


#addicon{
    width: 10%;
    height: 7vh;
/*   border: solid 2px black;      */
    margin-top: 10px;
    margin-left: 35px;

}




.location-text{
    width: 77%;
    height: 30vh;
    float: right;
    margin-top: -150px;
}